body
{
	background-color: #202050;
	color: #000040;
}

strong.title
{
	font-size: xx-large;
}

em.title
{
	font-size: small;
}

h1
{
	font-size: x-large;
	font-family: monospace;
	padding-top: 2em;
	margin-left: -.8em;
}

h1:before
{
	content: '# ';
}

h1 a
{
	color: #000040;
	text-decoration: none;
}

h1 a:hover
{
	color: #000040;
	text-decoration: underline;
}

strong.title a
{
	color: #000040;
	text-decoration: none;
}

strong.title a:hover
{
	color: #000040;
	text-decoration: underline;
}

p.footnotes
{
	font-size: x-small;
}

a
{
	color: #0000aa;
}

a:hover
{
	text-decoration: none;
}

a:visited
{
	color: #000055;
}

p.links
{
	font-size: small;
	background-color: /* #9f9f9f; I like this, but it is too dark */  #cfcfcf;
	                  /* which causes people to miss the header   */
	padding: 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
}

p.links a
{
	font-weight: bold;
	color: #00af00;
}

p.footer
{
	font-size: small;
	background-color: #9f9f9f;
	padding: 10px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 20px;
	text-align: center;
	margin: 20 auto;
	width: 35em;
}

#container
{
	margin: 0 auto;
	padding: 20px 20px 1px 20px;
	-moz-border-radius: 20px 20px 4px 4px;
	-webkit-border-radius: 20px 20px 4px 4px;
	width: 500px;
	background-color: #ffffd8;
}

#containermid
{
	margin: 4px auto;
	padding: 1px 20px 1px 20px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	width: 500px;
	background-color: #ffffd8;
}

#container2
{
	margin: 4px auto;
	padding: 1px 20px 10px 20px;
	-moz-border-radius: 4px 4px 20px 20px;
	-webkit-border-radius: 4px 4px 20px 20px;
	width: 500px;
	background-color: #ffffd8;
}

.repo
{
	margin-right: 6px;
	margin-top: 4px;
	float: left;
}

#repos
{
	height: 4em;
}

.smallcaps
{
	font-variant: small-caps;
}

#sidebar
{
	float: right;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/*width: 100px;*/
	background-color: #ffffd8;
}